.niceParagraph {
  background-color: grey;
  font-family: "Baskerville";
}

#finalParagraph {
  background-color: red;
  font-family: "Baskerville";
}

#nav_p {
  color: #E9E9E9;
  font-size: 58px;
  font-family: "Mrs Sheppards";
  font-style: normal;
  font-variant: normal;
}

.background_dark {
	background-color: #222930;
}

.green_color {
    background-color: #4EB1BA;
}

.white_text {
  color: #E9E9E9;
}

.borderline {
	border: 1px solid black;
}

footer {
  position: absolute;
  bottom: 0;
  color: orange;
}

/*header {
  color: purple;
  font-size: 28px;
  font-family: "Aclonica";
}

body {
  background-color: grey;
  font-family: "Baskerville";
}
*/

